.dashboard {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  margin: 2rem;
  padding: 1rem;
  width: 90%;
}
.dashboard__chart {
  height: 400px;
  width: 100%;
}
.dashboard__row {
  display: flex;
  border-bottom: 1px solid var(--grey-300);
}
.dashboard__card {
  padding: 1rem;
  margin: 1rem;
}
.dashboard__title {
  color: var(--grey-700);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.dashboard__email {
  color: var(--grey-600);
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.dashboard__done {
  color: var(--success-outline);
}
.dashboard__pending {
  color: var(--grey-700);
}
.dashboard__users {
  max-height: 200px;
  overflow-y: auto;
}
.dashboard__list {
  list-style: none;
}
