:root {
  --primary-bg: #eff6ff;
  --primary-100: #dbeafe;
  --primary-200: #c7d2fe;
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;

  --grey-50: #f9fafb;
  --grey-100: #f7fafc;
  --grey-200: #edf2f7;
  --grey-300: #e2e8f0;
  --grey-400: #cbd5e0;
  --grey-500: #a0aec0;
  --grey-600: #718096;
  --grey-700: #4a5568;
  --grey-800: #2d3748;
  --grey-900: #1a202c;

  --error-outline: #db2777;
  --error-bg: #fdf2f8;
  --error-dark: #be185d;

  --success-bg: hsl(171, 76%, 87%);
  --success-outline: hsl(171, 70%, 40%);
  --success-dark: hsl(170, 64%, 20%);
}
::selection {
  background: var(--primary-100); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--primary-100); /* Gecko Browsers */
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--grey-50);
  color: var(--grey-900);
  margin: 0;
  font-family: lato, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

a {
  color: var(--grey-900);
  text-decoration: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
