.profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
}
.profile__picture {
  border: 1px solid var(--grey-400);
  border-radius: 50%;
  height: 3rem;
  object-fit: cover;
  overflow: hidden;
  width: 3rem;
}
.profile__wrapper {
  position: relative;
}
.profile__badge {
  color: var(--primary-400);
  right: 10%;
  position: absolute;
  bottom: 10%;
  z-index: 99;
}
.profile__badge--large {
  right: 5%;
  bottom: 5%;
}
