.btn {
  background-color: var(--primary-500);
  border: 1px solid var(--primary-500);
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: white;
  cursor: pointer;
  font-family: lato;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: var(--primary-600);
  border: 1px solid var(--primary-600);
  color: white;
}
.btn:active {
  background-color: var(--primary-700);
  border: 1px solid var(--primary-700);
  color: white;
}
.btn-secondary {
  background-color: white;
  color: var(--primary-700);
}
.btn:focus {
  box-shadow: 0 0 2px #ffffff, 0 0 0 4px var(--primary-200), 0 1px 2px 0 black;
}
