.progress__info {
  color: var(--grey-700);
  font-size: 0.8rem;
  margin-top: 2rem;
}
.progress__count {
  color: var(--primary-700);
  font-weight: 700;
}
.progress__bar {
  background-color: var(--primary-bg);
  border-radius: 0.25rem;
  height: 0.5rem;
  margin-top: 0.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.progress__bar--filled {
  background-color: var(--primary-700);
  border-radius: 0.25rem;
  display: block;
  height: 100%;
}
