.feed {
  display: flex;
  margin: 0 2rem;
}
.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 2rem;
}
.sidebar {
  border-left: 1px solid var(--grey-300);
  margin: 0rem 1rem;
  height: calc(100vh - 6rem);
  padding-top: 2rem;
  padding-left: 2rem;
  width: 14rem;
}
.sidebar__actions {
  align-items: flex-start;
  border-top: 1px dotted var(--grey-300);
  color: var(--grey-700);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
  padding-top: 1rem;
}
.sidebar__list-item {
  align-items: center;
  display: flex;
}
.sidebar__votes {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.sidebar__info {
  color: var(--grey-600);
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
